h1 {
    font-weight: 700;  
    display: flex;
    justify-content: center;
    align-items: center;
    color: black; 

}

button {
    font-size: medium;
    margin-left: 200px;
    margin-top: 50px;
    padding: 10px 10px 20px ;
    border-radius: 50px;
    border-right-color: red;
    border-top: 10px;
    border-top-color: orange ;
    border-width: 10px;
    

}
button:hover{
    transform: scale(1.25);
}
p{display: flex;
    justify-content: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;


}
body{
    background-image: linear-gradient(to bottom right, red, yellow);
}

 